<div class="row">
  <!-- Facebook card start -->
  <div class="col-md-6 col-xl-3">
    <div class="card social-widget-card">
      <div class="card-block-big bg-facebook">
        <h3>1165 +</h3>
        <span class="m-t-10">Facebook Users</span>
        <i class="icofont icofont-social-facebook"></i>
      </div>
    </div>
  </div>
  <!-- Facebook card end -->
  <!-- Twitter card start -->
  <div class="col-md-6 col-xl-3">
    <div class="card social-widget-card">
      <div class="card-block-big bg-twitter">
        <h3>780 +</h3>
        <span class="m-t-10">Twitter Users</span>
        <i class="icofont icofont-social-twitter"></i>
      </div>
    </div>
  </div>
  <!-- Twitter card end -->
  <!-- Linked in card start -->
  <div class="col-md-6 col-xl-3">
    <div class="card social-widget-card">
      <div class="card-block-big bg-linkein">
        <h3>998 +</h3>
        <span class="m-t-10">Linked In Users</span>
        <i class="icofont icofont-brand-linkedin"></i>
      </div>
    </div>
  </div>
  <!-- Linked in card end -->
  <!-- Google-plus card start -->
  <div class="col-md-6 col-xl-3">
    <div class="card social-widget-card">
      <div class="card-block-big bg-google-plus">
        <h3>650 +</h3>
        <span class="m-t-10">Google Plus Users</span>
        <i class="icofont icofont-social-google-plus"></i>
      </div>
    </div>
  </div>
  <!-- Google-plus card end -->
  <!-- NVD3 chart start -->
  <div class="col-md-12 col-xl-7">
    <div class="card">
      <div class="card-header">
        <h5>LINE CHART</h5>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
      </div>
      <div class="card-block">
        <nvd3 [options]="lineChartOptions" [data]="lineChartData"></nvd3>
      </div>
    </div>
  </div>
  <!-- NVD3 chart end -->
  <!-- Table start -->
  <div class="col-xl-5 col-md-12">
    <div class="row">
      <div class="col-lg-12">
        <div class="card table-1-card">
          <div class="card-block">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr class="text-capitalize">
                  <th>Type</th>
                  <th>Lead Name</th>
                  <th>Views</th>
                  <th>Last Action</th>
                  <th>Last Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><a href="javascript:">Buyer</a>
                  </td>
                  <td>Denish Ann</td>
                  <td>153</td>
                  <td>9.23 A.M.</td>
                  <td>9/27/2015</td>
                </tr>
                <tr>
                  <td><a class="text-danger" href="javascript:">Lanload</a>
                  </td>
                  <td>John Doe</td>
                  <td>121</td>
                  <td>6.23 A.M.</td>
                  <td>8/27/2015</td>
                </tr>
                <tr>
                  <td><a href="javascript:">Buyer</a>
                  </td>
                  <td>Henry Joe</td>
                  <td>154</td>
                  <td>7.54 P.M.</td>
                  <td>4/30/2015</td>
                </tr>
                <tr>
                  <td><a class="text-danger" href="javascript:">Lanload</a>
                  </td>
                  <td>Sara Soudein</td>
                  <td>153</td>
                  <td>9.23 A.M.</td>
                  <td>5/20/2016</td>
                </tr>
                <tr>
                  <td><a href="javascript:">Buyer</a>
                  </td>
                  <td>Denish Ann</td>
                  <td>153</td>
                  <td>9.23 A.M.</td>
                  <td>3/26/2015</td>
                </tr>
                <tr>
                  <td><a class="text-info" href="javascript:">Lanload</a>
                  </td>
                  <td>Stefen Joe</td>
                  <td>153</td>
                  <td>11.45 A.M.</td>
                  <td>5/20/2017</td>
                </tr>
                <tr>
                  <td><a href="javascript:">Buyer</a>
                  </td>
                  <td>Mark Backlus</td>
                  <td>153</td>
                  <td>12.40 A.M.</td>
                  <td>3/27/2017</td>
                </tr>
                <tr>
                  <td><a href="javascript:">Buyer</a>
                  </td>
                  <td>Denish Ann</td>
                  <td>153</td>
                  <td>9.23 A.M.</td>
                  <td>9/27/2015</td>
                </tr>
                <tr>
                  <td><a class="text-danger" href="javascript:">Lanload</a>
                  </td>
                  <td>John Doe</td>
                  <td>121</td>
                  <td>6.23 A.M.</td>
                  <td>8/27/2015</td>
                </tr>
                <tr>
                  <td><a href="javascript:">Buyer</a>
                  </td>
                  <td>Henry Joe</td>
                  <td>154</td>
                  <td>7.54 P.M.</td>
                  <td>4/30/2015</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Table end -->
  <!-- Date-based chart start -->
  <div class="col-xl-8 col-md-12">
    <div class="card">
      <div class="card-header">
        <h5>Daily Page Visit</h5>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
      </div>
      <div class="card-block">
        <div echarts [options]="profitChartOption" style="height: 300px;width: 100%;"></div>
      </div>
    </div>
  </div>
  <!-- Date-based chart end -->

  <!-- User activities chart start -->
  <div class="col-md-12 col-xl-4">
    <div class="card user-activity-card">
      <div class="card-block-big">
        <h5>Page Visits</h5>
        <h3 class="user-number">195</h3>
        <h6 class="m-b-15">Social Users</h6>
        <div class="progress m-b-30">
          <div class="progress-bar progress-bar-striped progress-sm progress-bar-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <p>Page Visits</p>
            <h6>1265</h6>
          </div>
          <div class="col-sm-6">
            <p>New Visitors</p>
            <h6>67%</h6>
          </div>
        </div>
        <i class="icofont icofont-link-alt link"></i>
      </div>
      <div class="card-footer">
        <p class="m-b-0">This is standard panel footer</p>
      </div>
    </div>
  </div>
  <!-- User activities chart end -->


  <!-- Live-chart start -->
  <div class="col-xl-5 col-md-6 dashbored-live-left">
    <div class="card widget">
      <div class="section section-info">
        <span class="info-time">Today 2:25 PM</span>
        <h3 class="info-title">Salt Lake City, Utah</h3>
        <div class="text-center o-auto">
          <div class="info-block">
            <dl>
              <dt>13.5 M</dt>
              <dd>Shares Traded</dd>
            </dl>
          </div>
          <div class="info-block last m-l-20">
            <dl>
              <dt>28.44</dt>
              <dd>Market Cap</dd>
            </dl>
          </div>
        </div>
        <div class="info-aapl">
          <h4>AAPL</h4>
          <ul>
            <li><span class="orange" style="height: 37.5%"></span>
            </li>
            <li><span class="orange" style="height: 47.5%"></span>
            </li>
            <li><span class="orange" style="height: 70%"></span>
            </li>
            <li><span class="orange" style="height: 85%"></span>
            </li>
            <li><span class="orange" style="height: 40%"></span>
            </li>
            <li><span class="green" style="height: 75%"></span>
            </li>
            <li><span class="green" style="height: 50%"></span>
            </li>
            <li><span class="green" style="height: 15%"></span>
            </li>
            <li><span class="green" style="height: 25%"></span>
            </li>
          </ul>
        </div>
        <div class="yearly-change">
          <h4>Yearly Change</h4>
          <span><em>+</em> 127.01</span>
        </div>
      </div>
    </div>
    <div class="section"></div>
  </div>
  <!-- Live-chart end -->
  <!-- Last activity start -->
  <div class="col-xl-7 col-md-6">
    <div class="card">
      <div class="card-header">
        <h5>Last Activity</h5>
        <div class="f-right">
          <label class="label label-success">Today</label>
          <label class="label label-danger">Month</label>
        </div>
      </div>
      <div class="card-block table-border-style">
        <div class="table-responsive analytic-table">
          <table class="table">
            <tbody>
            <tr>
              <td>
                <span class="count text-primary">2567</span>
                <span class="table-msg">Total Message Sent</span>
              </td>
              <td>34%</td>
            </tr>
            <tr>
              <td>
                <span class="count text-warning">9512</span>
                <span class="table-msg">Monthly Income</span>
              </td>
              <td>79%</td>
            </tr>
            <tr>
              <td>
                <span class="count text-info">9874</span>
                <span class="table-msg">Total Transfer</span>
              </td>
              <td>81%</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Last activity end -->
  <!-- User activities chart start -->
  <div class="col-md-6 col-xl-8">
    <div class="row">
      <!-- Morris site-visit chart start -->
      <div class="col-md-12 col-xl-6">
        <div class="card">
          <div class="card-header">
            <h5>Total Visitors</h5>
          </div>
          <div class="card-block">
            <div id="morris-site-visit"></div>
          </div>
        </div>
      </div>
      <!-- Morris site-visit chart end -->
      <!-- Pie Chart start -->
      <div class="col-md-12 col-xl-6">
        <div class="card">
          <div class="card-header">
            <h5>Daily Visitors</h5>
          </div>
          <div class="card-block">
            <div echarts [options]="pieChartOption" style="height: 300px;"></div>
          </div>
        </div>
      </div>
      <!-- Pie Chart end -->
    </div>
    <div class="row">
      <div class="col-md-12 col-xl-12">
        <div class="card analytic-user">
          <div class="card-block-big text-center">
            <i class="icofont icofont-wallet"></i>
            <h1>$ 324587</h1>
            <h4>All Income</h4>
          </div>
          <div class="card-footer p-t-25 p-b-25">
            <p class="m-b-0">This is standard panel footer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- User activities chart end -->
  <!-- Social user card start -->
  <div class="col-md-6 col-xl-4">
    <div class="card borderless-card">
      <div class="profile-card">
        <img class="img-fluid" src="assets/images/widget/profile-person1.png" alt="">
        <div class="card-block">
          <h3>John Steve</h3>
          <p>UI/UX Designer at CreativesCastle Studio</p>
          <button class="btn btn-info">+ Follow</button>
        </div>
      </div>
      <div class="card-footer bg-inverse">
        <div class="row text-center">
          <div class="col-sm-4">
            <h4>134</h4>
            <span>Shots</span>
          </div>
          <div class="col-sm-4">
            <h4>13,227</h4>
            <span>Shots</span>
          </div>
          <div class="col-sm-4">
            <h4>488</h4>
            <span>Shots</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Social user card end -->

</div>
